body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  overflow-x: hidden; /* 가로 스크롤바 안보이게 */
}

a{
  text-decoration: none;  /* a 태그의 밑줄 같은 효과 사라짐 */
}

.inner{
  width: 1100px;
  margin: 0 auto;
  position:relative;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  z-index: 9;
  background-color: #543900;
  border-bottom: 3px solid #BD9424;
}
header > .inner {
  height: 100px;
}
header img { /* 에셀트리 카페 로고 부분*/
  width: 100px;
  height: 100px;
}
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}
header .item {
  list-style-type: none; /* li 태그 앞에 점 없애기 */
}
header .main-menu .item .item_name {
  padding: 40px 50px 20px 50px; /* 시계 방향 (상, 우, 하, 좌) */
  color:#BD9424;
  font-size: 13px;
}
header .main-menu .item .item_name:hover { 
  transform: scale(1.15);
  font-weight: bold;
}
header .main-menu .item:nth-child(3){ /*매장 글씨와 인스타 로고 간의 간격 조정*/
  padding-right: 60px;
}
header .main-menu .item img{ /* 인스타그램 로고 부분 */
  padding-top: 23px;  
  width:50px;
  height:50px;
}

/* 카페 사진 부분 */
.Slidesbackground {
  margin-top: 80px;
}
.slideshow-image{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.mySlides {
  width: 100vw; /* vw, vh: 각각 컴퓨터 화면에 맞는 꽉 찬 사이즈로 자동으로 변경 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow-container {
  left: -8px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin:auto;
}

/* 뱃지 (전화 문의, 영업 시간, 리뷰 ) */
.badges {
  position:absolute;
  right:-10px;  /*position이 있어야 top right left bottom 위치 조정할 수 있음! */
  margin-top: 100px;
}
.badges .badge {
  overflow: hidden;
  width:200px;
  height:200px;
}
.badges .badge:nth-child(3) { /* 리뷰 작성하는 부분만 커서 포인터로 */
  cursor: pointer;
}
.badges .badge img {
  width:200px;
  height:200px;
}


.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

/* 에셀트리 카페 이야기 부분*/
.eshelStory {
  margin-left: -8px;
  margin-right: -8px;
  background-color: #FAF4C0;
  border-bottom: 3px solid #FFE08C;
}
.eshelStory .tree_story { /* 나무 이미지 + 글씨 부분 */
  height: 650px;
  display: flex;
}
.eshelStory .tree .tree_img { /* 나무 이미지 */
  height: 100%;
}

.eshelStory .tree_story .story { /* 글씨 부분 */
  width: 100%;
}
.eshelStory .story p { /* 글씨 부분 p 태그*/
  margin-left: 20px;
  font-size: 25px;
  color: #353535;
  line-height: 30px;
  font-family: "Nanum Pen Script", cursive;
}
.eshelStory .story .story_title { /* 에셀트리 카페 이야기 제목 부분*/
  width: 400px;
  font-size: 40px;
  margin-top: 120px;
  color:#543900;
  background-color: #FFE08C;
}

/* 에셀트리카페 인기메뉴 Top5 부분 */
.top_menu {
  position: relative;
  height: 450px;
}
.menu_title {  /* 메뉴 이름 부분 */
  font-size: 40px;
  font-family: "Nanum Pen Script", cursive;
  color:#BD9424;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}
.top_menu .swiper-slide {
  width: 650px;
  height: 550px;
  position: relative;
}
.top_menu .swiper-slide .top_menu_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top:-120px;
}
/* swiper 앞 뒤 버튼 부분 */
.top_menu .swiper-button-prev,
.top_menu .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #543900;
  border-radius: 50%;
  position: absolute;
  top:420px;
  z-index: 1;
  cursor: pointer;
}
.top_menu .swiper-button-prev{
  left: 60%;
  margin-left: -885px;
  color:#543900;
}
.top_menu .swiper-button-next{
  right: 60%;
  margin-right: -885px;
  color:#543900;
}
.top_menu .swiper-button-prev:hover,
.top_menu .swiper-button-next:hover {
  background-color: #FFE08C;
  color: #BD9424;
}
.top_menu .swiper-button-next::after,
.top_menu .swiper-button-prev::after {
  display: none; /* 원래 있는 swiper 버튼 안보이게, 설정한 아이콘 모양으로 나오게 하기 위함 */
}

.top_menu .swiper-pagination { /* 순서 나오는 아래 동그라미 부분: pagination*/
  bottom: 25px;
  left: 0;
  right: 0;
}
.top_menu .swiper-pagination .swiper-pagination-bullet{ /* pagination의 각각의 동그라미 부분 */
  background-color: #BD9424;
  margin-right: 3px;
}

/* 상황별 메뉴 추천 부분 */
.recommend_menu {
  margin-top: 40px;
  height: 530px;
}
.recommend_menu .condition {
  width: 1400px;
  height: 380px;
  display: flex;
  margin: 0 auto; /* 수평 중앙 정렬하기 */
}
.recommend_menu .symptom {
  width: 300px;
}
.recommend_menu .symptom button{
  font-family: "Nanum Pen Script", cursive;
  font-size: 35px;
  color:#5D5D5D;
  margin-left: 10px;
  margin-top: 40px;
  cursor: pointer;
  display: block;
  background-color: transparent;
  border: transparent;
}
.recommend_menu .symptom button:hover {
  font-weight: bold;
}
.recommend_menu .symptom button:focus {
  color:#353535;
  background-color: #FFE08C;
}
.recommend_menu .menu_image {
  width: 100%;
  display: flex;
}
.recommend_menu .menu_image img {
  width: 350px;
  height: 350px;
  margin-top: 10px;
}
.recommend_menu .menu_image img:hover {
  transform: scale(1.2);
  transition: .4s;
}
/* 메뉴 더보기 버튼 부분 */
.recommend_menu .see_more {
  width: 200px;
  height: 50px;
  margin: 0 auto; /* 수평 중앙 정렬하기 */
}
.recommend_menu .see_more_btn{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  border-radius: 20px;
  border:3px solid #543900;
  font-family: "Nanum Pen Script", cursive;
  font-size: 25px;
  color:#543900;
  background-color:#FFE08C;
  cursor: pointer;
} 
.recommend_menu .see_more_btn:hover {
  background-color:#F2CB61;
}

/* footer */
footer .cafe {
  background-color: #543900;
  width: 100vw;
  height: 200px;
  margin-top: 20px;
  margin-left: -8px;
  margin-bottom: -20px;
  color: #FAECC5;
  font-size: 15px;
}
footer .name {
  display: flex;
}
footer .name p {
  margin: 0 auto;
  margin-top:40px;
  font-size: 20px;
}
footer .cafe .info {
  margin-top: 30px;
}
footer .cafe .info span:nth-child(1){
  margin-left: 400px;
}
footer .cafe .info span{
  margin-left: 50px;
}
footer .cafe .copyright {
  width: fit-content;
  margin-top:50px;
  margin-left: 630px;
}

