body {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
}

a{
  text-decoration: none;  /* a 태그의 밑줄 같은 효과 사라짐 */
}

.inner{
  width: 1100px;
  margin: 0 auto;
  position:relative;
}

::-webkit-scrollbar {   /* 스크롤바 안보이게 */
  display: none;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  z-index: 9;
  background-color: #543900;
  border-bottom: 3px solid #BD9424;
}

header > .inner {
  height: 90px;
}

header img { /* 에셀트리 카페 로고 부분*/
  width: 90px;
  height: 90px;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

header .item {
  list-style-type: none; /* li 태그 앞에 점 없애기 */
}

header .main-menu .item .item_name {
  padding: 50px 50px 20px 50px; /* 시계 방향 (상, 우, 하, 좌) */
  color:#BD9424;
  font-size: 13px;
}

header .main-menu .item .item_name:hover { 
  transform: scale(1.15);
  font-weight: bold;
}

header .main-menu .item:nth-child(3){ /*매장 글씨와 인스타 로고 간의 간격 조정*/
  padding-right: 60px;
}

header .main-menu .item img{ /* 인스타그램 로고 부분 */
  padding-top: 30px;  
  width:50px;
  height:50px;
}

/* 카페 사진 부분 */
.Slidesbackground {
  margin-top: 80px;
}
.slideshow-image{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mySlides {
  width: 100vw; /* vw, vh: 각각 컴퓨터 화면에 맞는 꽉 찬 사이즈로 자동으로 변경 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container {
  left: -8px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin:auto;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}